<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="background-color: #C9ECFF;display: flex;-ms-flex-pack: center !important;justify-content: center; color:black">
<div style="  position: relative;width: 100%;margin-left:30%;flex: 0 0 41.666667%;max-width: 41.666667%;background-color: #fff !important;">
  <img style="width: 100%;" th:src="${headerImgUrl}" alt="">
  <div style="padding: 1rem !important;display: block !important;">
    <h3 th:text="${'Dear, '+userFullName}" style="margin-top:0;">
    </h3>
    <div>
      Thanks for shopping with us. We hope that our products were everything you hoped for and more.
    <p>
      We attached your order below so you can check it again easily.
    </p>
    </div>
  <div style="border-radius: 10px; margin: 0.5rem ;padding: 1rem ; background:#e2f5ff; overflow: auto">
    <div class="text-danger" style="float:left">Address:</div>
    <div style="float:right" th:text="${payRequest.address}"></div>
    <div style="clear:both; float:left">Phone number:</div>
    <div style="float:right" th:text="${payRequest.phone}"></div>
    <div style="clear:both; float:left">Payment method:</div>
    <div style="float:right" th:text="${payRequest.payMethod}"></div>
    <div style="clear:both; float:left">Shipping option:</div>
    <div style="float:right" th:text="${payRequest.shippingOption}"></div>
    <div style="clear:both; float:left">Delivery date:</div>
    <div style="float:right" th:text="${payRequest.deliveryDate}"></div>
  </div>
  <div style="border-radius: 10px; margin: 0.5rem ;padding: 1rem ; background:#e2f5ff; overflow: auto">

    <div style="display:flex;">
      <div style="display:inline-block; width:46%; font-weight: bold;" th:text="${'Products ordered ('+ #lists.size(payRequest.payProducts)+')'}"></div>
      <div style="display:inline-block; width:18%; text-align:center;">Unit price</div>
      <div style="display:inline-block; width:18%; text-align:center;">Quantity</div>
      <div style="display:inline-block; width:18%; text-align:center;">Sub total</div>
    </div>
    <div style="border-bottom: 1px solid #73c2ec;border-top: 2px solid #73c2ec;">
      <div th:each="s : ${payRequest.payProducts}" style="display:flex; padding:0.5rem 0">
        <div style="display:inline-block; padding: 0 1%; width:44%;">
          <img style="width:35%; height:100%;float:left" th:src="${s.imgUrl}">
          <div style="width:60%;float:right">
            <div style="font-weight: bold;" th:text="${s.name}"></div>
            <div th:text="${'Brand: '+s.brand}"></div>
            <div th:text="${'Variation: '+ s.variation}"></div>
          </div>
        </div>
        <div style="display:inline-block; width:18%; text-align:center;">
          <div style="padding-top:22%" th:text="${'$'+s.unitPrice}"></div>
        </div>
        <div style="display:inline-block; width:18%; text-align:center;">
          <div style="padding-top:22%" th:text="${s.quantity}"></div>
        </div>
        <div style="display:inline-block; width:18%; text-align:center;">
          <div style="padding-top:22%" th:text="${'$'+s.subTotal}"></div>
        </div>
      </div>
    </div>
    <div style="margin-left:auto;width:45%">
      <div style="float:left; clear:both;font-weight:bold;">
        Sub total
      </div>
      <div style="float: right;" th:text="${'$'+payRequest.subTotal}">
      </div>
      <div style="float:left; clear:both;font-weight:bold;">
        Product discount
      </div>
      <div style="float: right;" th:text="${'$'+payRequest.productDiscount}">
      </div>
      <div style="float:left; clear:both;font-weight:bold;">
        Shipping fee
      </div>
      <div style="float: right;" th:text="${'$'+payRequest.shippingFee}">
      </div>
      <div style="float:left; clear:both;font-weight:bold;">
        Shipping discount
      </div>
      <div style="float: right;" th:text="${'$'+payRequest.shippingDiscount}">
      </div>
      <div style="float:left; clear:both;font-weight:bold;">
        Total
      </div>
      <div style="float: right;display:inline-block;" th:text="${'$'+payRequest.total}">
      </div>
    </div>
  </div>
    <div>
      If you have any questions or concerns, please reach out to us and we’d be more than happy to help. <br/>Have a great day, <br/>
      <em>BK Furniture</em>
    </div>
  <div style="background-color: #0795DF">
    <img th:src="${footerImgUrl}" alt="" style="display: block !important;width: 100% !important;">
  </div>
</div>

</body>
</html>