<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="color:black;background-color: #C9ECFF;display: flex;-ms-flex-pack: center !important;justify-content: center; color:black">
<div style="  position: relative;width: 100%;margin-left:30%;flex: 0 0 41.666667%;max-width: 41.666667%;background-color: #fff !important;">
  <img style="width: 100%;" th:src="${headerImgUrl}" alt="">
  <img style="width: 100% ;" src="https://hc.com.vn/i/ecommerce/media/ckeditor_2925202.jpg" alt="">
  <div style="padding: 1rem;">
    <p th:text="${'Your discount voucher in code: '+saleRequest.discountCode}"></p>
    <p>----------------------</p>
    <p th:text="${'We are writing to extend our heartfelt congratulations to you for receiving a discount voucher. It is always an amazing feeling to save money, and we are sure this voucher will come in handy for you. You will get a '+saleRequest.discountPercentage+'% discount for your next purchase with this code. Just use it as soon as possible, because it can be expired if reaching '+saleRequest.usageLimit+' usages.'}"></p>
    <p>
    We hope you will be able to use this voucher to purchase the products you need at a reduced cost. It's always great to get a good deal, and we are happy that you were able to receive this opportunity.
      <br/>
      If you have any questions about redeeming the voucher or any concerns, do not hesitate to contact us. We are always here to help you out.
      </p>
    <p>
      Best regards, <br/>
      <em>BK Furniture</em>
    </p>
  </div>
  <div style="background-color: white">
    <img th:src="${footerImgUrl}" alt="" style="display: block !important;width: 100% !important;">
  </div>
</div>
</body>
</html>